<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Create Your Account</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<h1>Welcome Traveler</h1>

	<p>Please Use The Form Below To Create An Account</p>
	<div class="container">
		<h1>Create a New Blog Post</h1>
 		<form action="#" th:action="@{/blog_posts/newpost}" th:object="${blogPost}" method="post">
 		
 		<div class="form-group">
 			<input type="text" class="form-control" placeholder="Your name" th:field="*{name}" />
 		</div>
 		
 		<div class="form-group">
 			<input type="text" class="form-control" placeholder="Where was this?" th:field="*{where}" />
 		</div>
 		
 		<div class="form-group">
 			<input type="text" class ="form-control" placeholder="Tell us the story!" th:field="*{story}" />
 		</div>
		</form>
 		<button class="btn btn-primary">Submit Your Post</button>

		<a class= "btn btn-primary" th:href="@{/}">Back To Homepage</a>
	</div>


</body>
</html>