<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Create Your Account</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<h1>Welcome Traveler</h1>

	<p>Please Use The Form Below To Create An Account</p>

	<div class="container">
		<h1>Create a New Account</h1>
 		<form action="#" th:action="@{/create_account}" th:object="${user}" method="post">
 		
 		<div class="form-group">
 			<input type="text" class="form-control" placeholder="What is your username?" th:field="*{userName}" />
 		</div>
 		
 		<div class="form-group">
 			<input type="text" class ="form-control" placeholder="What is your password?" th:field="*{passWord}" />
 		</div>
		</form>
 		<button class="btn btn-primary">Create!</button>

		<a class= "btn btn-primary" th:href="@{/}">Back To Homepage</a>
	</div>

</body>
</html>