<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Create Your Own Blog  </title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
 <body>
   <h1>Welcome Traveler</h1>
   <h3>Please Write Your Blogs Below</h3>
   
   <p>Please Use The Form Below To Write The Blogs </p>
  <form action="#" th:action="@{/create_post}" th:object="${blogPost}" method="post">
    <table>
	<tr>
            <td>Name:</td>
	    <td><input type="text" th:field="*{name}" /></td>
	</tr>
	<tr>
	    <td>City:</td>
	    <td><input type="text" th:field="*{place}" /></td>
	</tr>
	<tr>
    	    <td>State:</td>
	    <td><input type="text" th:field="*{story}" /></td>
	</tr>
	<tr>
	    <td><button type="submit">Submit Your Blog</button></td>
	</tr>
    </table>
</form>


 </body>
</html>