<!DOCTYPE html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Intro - Travel Page</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->

</head>


<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="posts"><img src="https://www.freeiconspng.com/uploads/-earth-find-flight-fly-globe-map-travel-icon--icon-search-engine-4.png" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li><a href="index" title="Welcome!">Home</a></li>
                <li><a href="create_post" title="create_post">Make A Post</a></li>
                <li class="current"><a href="create_account" title="create_account">Create Account</a></li>
                <li><a href="view_account" title="view_account">Your Account</a></li>	
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- page header
    ================================================== -->
    <section class="page-header page-hero" style="background-image:url(https://hdqwalls.com/download/travel-hd-2048x1152.jpg)">

        <div class="row page-header__content">
            <article class="col-full">
                <h1 class="page-header__title">
                    <a href="#0" title="">
                        Travel the world. Share your experience with the world.
                    </a>
                </h1>
                <p>
                <br>
                </p>
                <p>
                    <br>
                </p>
            </article>
        </div>

    </section> <!-- end page-header -->
	
	<!--START: All Posts Functionality --> <section id="blog" class="s-blog target-section">
	<div class="container">
		<div class="row">
		    <div th:each="blogs : ${blogPosts}">
		        <div class="col-md-12">
		            <div class="panel panel-default">
		                <div class="panel-heading">
		                    <p th:text="${blogs.name}"/>
						</div>
			    		<div class="panel-body">
							<p th:text="${blogs.place}"/></p>
							<p th:text="${blogs.story}" /></p>
					    </div>
			    		<div class="panel-footer">
			    		
						<!-- <a class="btn btn-primary" th:href="@{/blog_posts/edit/{id}(id=${blogs.id})}">Edit Post</a> -->
													<!-- blog.id? --> <!-- blogPost.id -->
						<!-- <form action="#" th:action="@{'/blog_posts/delete/{id}'(id=${blogs.id})}" th:method="delete" class="form-horizontal"> -->
						        <!-- <input type="hidden" name="_method" value="delete"/>-->
						        <!-- <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete</button> -->
						<!-- </form>-->
		            </div>
		          </div>
		        </div>
		    </div>
		</div>
	</div>
<!--END: All Posts Functionality -->

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Recent Posts</h3>
                <h1>Latest From The Blog.</h1>
                <p class="lead">Loremm ipsum Dolor adipisicing nostrud et aute. 
                Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum 
                ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    <article class="col-block">
                                
                        <div class="blog-date">
                            <a href="blog-single.html">Date</a>
                        </div>  
                        
                        <h2 class="h01"><a href="blog-single.html">Post 1.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                                <a href="">User 1</a>
                        </div>

                        
                    </article>
                    <article class="col-block">
                                
                        <div class="blog-date">
                            <a href="">Date</a>
                        </div>  
                        
                        <h2 class="h01"><a href="blog-single.html">Post 2.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">User 2</a>
                        </div>

                        
                    </article>
                    <article class="col-block">
                        
                        <div class="blog-date">
                            <a href="blog-single.html">Date</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Post 3.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh dolore irure esse Duis nulla sint.
                        </p>

                        <div class="blog-cat">
                            <a href="">User 3</a>
                        </div>
                    </article>
                    <article class="col-block">
                        
                        <div class="blog-date">
                            <a href="blog-single.html">Date</a>
                        </div>    
                        <h2 class="h01"><a href="blog-single.html">Post 4.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="">User 4</a>
                        </div>
                    </article>
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

    </section> <!-- end s-blog -->


    <div id="preloader"> 
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>