<!DOCTYPE html>

<html class="no-js" lang="en">


<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Intro - Travel Page</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->

</head>


<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html"><img src="https://www.freeiconspng.com/uploads/-earth-find-flight-fly-globe-map-travel-icon--icon-search-engine-4.png" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li><a href="posts" title="posts">Home</a></li>
                <li><a href="create_post" title="create_post">Make A Post</a></li>
                <li class="current"><a href="create_account" title="create_account">Create Account</a></li>
                <li><a href="view_account" title="your_account">Your Account</a></li>	
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- page header
    ================================================== -->
    <section class="page-header page-hero" style="background-image:url(https://hdqwalls.com/download/travel-hd-2048x1152.jpg)">

        <div class="row page-header__content">
            <article class="col-full">
                <h1 class="page-header__title">
                    <a href="#0" title="">
                        Travel the world. Share your experience with the world.
                    </a>
                </h1>
                <p>
                <br>
                </p>
                <p>
                    <br>
                </p>
            </article>
        </div>

    </section> <!-- end page-header -->


    <div id="preloader"> 
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>