<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Traveler Information</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<h1>Welcome</h1>
	<h3>Here is the information We know about
		you:</h3>

	<p>
		First Name: <span th:text="${Name}"></span>
	</p>
	<p>
		Place: <span th:text="${place}"></span>
	</p>
	<p>
		Story: <span th:text="${story}"></span>
	</p>
	<p>
		Date: <span th:text="${updateDttm}"></span>
	</p>
	<a class= "btn btn-primary" th:href="@{/}">Back To Homepage</a>

</body>
</html>