<!DOCTYPE html>

<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>TravelBlog</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="posts"><img src="https://www.freeiconspng.com/uploads/-earth-find-flight-fly-globe-map-travel-icon--icon-search-engine-4.png" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#works" title="works">Popular Posts</a></li>
                <li><a class="smoothscroll"  href="#blog" title="blog">Latest</a></li>
                <li><a class="smoothscroll"  href="#contact" title="contact">About</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://wallpapersite.com/images/wallpapers/airplane-4200x2608-aircraft-air-travel-4k-1028.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hello There</h3>

                <h1>
                    These are your <br>
                    experiences. Your adventures. Share them.
                </h1>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->


    </section> <!-- end s-home -->

    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Popular Posts</h3>
                <h1>See Our Greatest Travelers.</h1>
                
                <p class="lead">These travelers from around the world want to share
                    their experiences with you. Check them out.</p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="http://i.imgur.com/72KAkAr.jpg" class="thumb-link" title="Greenland" data-size="1050x700">
                                <img src="http://i.imgur.com/72KAkAr.jpg" 
                                     srcset="http://i.imgur.com/72KAkAr.jpg 1x, http://i.imgur.com/72KAkAr.jpg 2x" alt="" style="height:auto">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Greenland
                            </h3>
                            <p class="item-folio__cat">
                                Tom Schultz
                            </p>
                        </div>
                        <!-- need a link to individual post -->
                        <a href="" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>A beautiful landscape I captured during my 
                                Greenland trip.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://www.setaswall.com/wp-content/uploads/2017/10/Beach-Foam-Iceland-Mountain-Nature-T0-Wallpaper-2160x3840.jpg" class="thumb-link" title="Iceland" data-size="1050x700">
                                <img src="https://www.setaswall.com/wp-content/uploads/2017/10/Beach-Foam-Iceland-Mountain-Nature-T0-Wallpaper-2160x3840.jpg" 
                                     srcset="https://www.setaswall.com/wp-content/uploads/2017/10/Beach-Foam-Iceland-Mountain-Nature-T0-Wallpaper-2160x3840.jpg 5x, https://www.setaswall.com/wp-content/uploads/2017/10/Beach-Foam-Iceland-Mountain-Nature-T0-Wallpaper-2160x3840.jpg x" alt="" style="height:500px;width:500px">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Iceland
                            </h3>
                            <p class="item-folio__cat">
                                Billy Bob
                            </p>
                        </div>

                        <a href="" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>My gorgeous trip to Iceland.</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://wallpapercave.com/wp/qrgInQ4.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://wallpapercave.com/wp/qrgInQ4.jpg" 
                                     srcset="https://wallpapercave.com/wp/qrgInQ4.jpg 1x, https://wallpapercave.com/wp/qrgInQ4.jpg 2x" alt="Japan" style="height:401px">
                                
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Japan
                            </h3>
                            <p class="item-folio__cat">
                                Sally Lopez
                            </p>
                        </div>

                        <a href="" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>My trip to Japan was amazing!.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="http://www.mobileswall.com/wp-content/uploads/2013/09/640-Landscapes-China-l.jpg" class="thumb-link" data-size="1050x700">
                                <img src="http://www.mobileswall.com/wp-content/uploads/2013/09/640-Landscapes-China-l.jpg"
                                     srcset="http://www.mobileswall.com/wp-content/uploads/2013/09/640-Landscapes-China-l.jpg 1x, http://www.mobileswall.com/wp-content/uploads/2013/09/640-Landscapes-China-l.jpg 2x" alt="" style="width: 500px; height: 500px">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                China
                            </h3>
                            <p class="item-folio__cat">
                                Louis Stevenson
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>The Great Wall was a long walk.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="http://s3.weddbook.com/t4/2/5/5/2550174/download-wallpaper-1080x1920-st-petersburg-russia-temple-the-savior-on-the-spilled-blood-dome-bridge-clouds-sony-xperia-z1-zl-z-samsung-galaxy-s4-htc-one-hd-background.jpg" class="thumb-link" data-size="1050x700">
                                <img src="http://s3.weddbook.com/t4/2/5/5/2550174/download-wallpaper-1080x1920-st-petersburg-russia-temple-the-savior-on-the-spilled-blood-dome-bridge-clouds-sony-xperia-z1-zl-z-samsung-galaxy-s4-htc-one-hd-background.jpg"
                                     srcset="http://s3.weddbook.com/t4/2/5/5/2550174/download-wallpaper-1080x1920-st-petersburg-russia-temple-the-savior-on-the-spilled-blood-dome-bridge-clouds-sony-xperia-z1-zl-z-samsung-galaxy-s4-htc-one-hd-background.jpg 1x, http://s3.weddbook.com/t4/2/5/5/2550174/download-wallpaper-1080x1920-st-petersburg-russia-temple-the-savior-on-the-spilled-blood-dome-bridge-clouds-sony-xperia-z1-zl-z-samsung-galaxy-s4-htc-one-hd-background.jpg 1x" alt="" style="width: 400px; height: 675px">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Russia
                            </h3>
                            <p class="item-folio__cat">
                                Katya Gerich
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Russia was fantastic!</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-liberty.jpg" class="thumb-link" data-size="1050x700">
                                <img src="images/portfolio/liberty.jpg"
                                     srcset="images/portfolio/liberty.jpg 1x, images/portfolio/liberty@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Liberty
                            </h3>
                            <p class="item-folio__cat">
                                John Marston
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Nothing beats New York.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="https://i.pinimg.com/originals/94/bf/25/94bf251e824d47a88241068cc657efcd.jpg" class="thumb-link" data-size="1050x700">
                                <img src="https://i.pinimg.com/originals/94/bf/25/94bf251e824d47a88241068cc657efcd.jpg"
                                     srcset="https://i.pinimg.com/originals/94/bf/25/94bf251e824d47a88241068cc657efcd.jpg 1x, https://i.pinimg.com/originals/94/bf/25/94bf251e824d47a88241068cc657efcd.jpg 21" alt="" style="height: 400px">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Italy
                            </h3>
                            <p class="item-folio__cat">
                                Bob Slander
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>The colors! My goodness!</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" data-size="1050x700">
                                <img src="images/portfolio/shutterbug.jpg"
                                     srcset="images/portfolio/shutterbug.jpg 1x, images/portfolio/shutterbug@2x.jpg 2x" alt="" >
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Forests
                            </h3>
                            <p class="item-folio__cat">
                                Katy Stienberg
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>There are many forests scattered throughout where i live! It's so worth the adventure.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->



    <!-- testimonials
    ================================================== -->
    <div class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">Our Top Bloggers.</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                    <p>I am all about traveling the country, the atmosphere of every place just brings peace to my being. Come experience the adventures I have shared!</p>
                    <div class="testimonials__author h06">
                        Billy Bob
                        <span>CEO, Travel Ins</span>
                    </div>
                </div>


                <div class="testimonials__slide">
                    <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                    <p>I'm always amazed by how many people can experience my travel through this amazing blog. I love sharing my adventures!</p>
                    <div class="testimonials__author h06">
                        Beard Guy
                        <span>CEO, Beard Co.</span>
                    </div>
                </div>
                
            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div> <!-- end s-testimonials -->


    <!-- blog
    ================================================== -->
    <section id="blog" class="s-blog target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Recent Posts</h3>
                <h1>Latest From The Blog.</h1>
                <p class="lead">Loremm ipsum Dolor adipisicing nostrud et aute. 
                Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum 
                ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    <article class="col-block">
                                
                        <div class="blog-date">
                            <a href="blog-single.html">Date</a>
                        </div>  
                        
                        <h2 class="h01"><a href="blog-single.html">Post 1.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                                <a href="">User 1</a>
                        </div>

                        
                    </article>
                    <article class="col-block">
                                
                        <div class="blog-date">
                            <a href="">Date</a>
                        </div>  
                        
                        <h2 class="h01"><a href="blog-single.html">Post 2.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">User 2</a>
                        </div>

                        
                    </article>
                    <article class="col-block">
                        
                        <div class="blog-date">
                            <a href="blog-single.html">Date</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Post 3.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh dolore irure esse Duis nulla sint.
                        </p>

                        <div class="blog-cat">
                            <a href="">User 3</a>
                        </div>
                    </article>
                    <article class="col-block">
                        
                        <div class="blog-date">
                            <a href="blog-single.html">Date</a>
                        </div>    
                        <h2 class="h01"><a href="blog-single.html">Post 4.</a></h2>
                        <p>
                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="">User 4</a>
                        </div>
                    </article>
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

    </section> <!-- end s-blog -->


    <!-- s-cta
    ================================================== -->
    <section class="s-cta">
        
        <div class="row narrow cta">

            <div class="col-full cta__content">

                <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up To Share.</a></h2>

                <div class="cta__action">
                    <a class="btn btn--primary btn--large" href="create_account">Sign Up Now</a>
                </div>	

            </div>

        </div> <!-- end cta -->
        
    </section>
    <br>
        <section class="s-cta">
        
        <div class="row narrow cta">

            <div class="col-full cta__content">

                <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Signed in? Share your story.</a></h2>

                <div class="cta__action">
                    <a class="btn btn--primary btn--large" href="create_post">Create a Post</a>
                </div>	

            </div>

        </div> <!-- end cta -->
        
    </section>


    <!-- s-stats
    ================================================== -->
    <section id="stats" class="s-stats">
        <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

            <div class="col-block stats__col ">
                <div class="stats__count">
                    128
                </div>
                <h4>Users Signed Up</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    9001
                </div>
                <h4>Cups of Coffee</h4>
            </div>
            <div class="col-block stats__col stats__col--highlight">
                <div class="stats__upsign">
                    <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
                <div class="stats__count">
                    110
                </div>
                <h4>Posts</h4>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">
                    128
                </div>
                <h4>Happy Bloggers</h4> 
            </div>

        </div>
    </section> <!-- end s-stats -->


    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>About Us</h3>
                <h1>Who We Are.</h1>
                
                <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>
            </div>
        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0"><img src="https://www.freeiconspng.com/uploads/-earth-find-flight-fly-globe-map-travel-icon--icon-search-engine-4.png" alt="Homepage"></a>
                </div>

                <ul class="footer-social">
                    <li><a href="#0">
                        <i class="im im-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-twitter" aria-hidden="true"></i>
                        <span>Twitter</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-behance" aria-hidden="true"></i>
                        <span>Tumblr</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-pinterest" aria-hidden="true"></i>
                        <span>Pinterest</span>
                    </a></li>
                </ul>
                    
            </div>
        </div>

        <div class="row footer-bottom">

            <br>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>