<!DOCTYPE html>
<html xmlns:th="http:www/thymeleaf.org">
	<head>
		<title>Comments</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h6 th:text="Comment"></h6>
						</div>
						<div class="panel-body">
						<!-- originally p/. I paired p's in here -->
							<p th:text="${CommentPost.comment"></p>
							<p th:date="${CommentPost.updateDttm}"></p>
						</div>
						<div class="panel-footer">
							<!-- Link to Update -->
							<!-- Link to Show  -->
							<!-- Link to Destroy -->
							<a th:href="@{/comments}"><button class="btn btn-success">Back To Home Page</button></a>
							<a th:href="@{/create_comment/new}"><button class="btn btn-primary">Submit a New Comment</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>