<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>TravelBlog</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
    body{
    background-color: #1d4482;
    
    }
    </style>

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
<title>Traveler Information</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
	<h1>Welcome</h1>
	<h3>Here is the information We know about
		you:</h3>
	<p>Thank you for your submisssion!</p>
	<h4>Your username:</h4>
	<p th:text="${userName}" />
	<a th:href="@{/}"><button class="btn btn-success">Back To Home Page</button></a>
</body>
</html>