<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Traveler Information</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
  
</head>
<body>
<a class="site-logo" href="index.html"><img src="https://www.freeiconspng.com/uploads/-earth-find-flight-fly-globe-map-travel-icon--icon-search-engine-4.png" alt="Homepage"></a>
	<h1>Welcome</h1>
	<h3>Here is the information We know about
		you:</h3>
		

	<p>
		First Name: <span th:text="${firstName}"></span>
	</p>
	<p>
		Last Name: <span th:text="${lastName}"></span>
	</p>
	<p>
		Email: <span th:text="${email}"></span>
	</p>
	<p>
		Username: <span th:text="${userName}"></span>
	</p>
	<p>
		Date: <span th:text="${updateDttm}"></span>
	</p>
	<p>
		Password: <span th:text="${password}"></span>
	</p>
	
	<a class= "btn btn-primary" th:href="@{/}">Back To Homepage</a>
	


</body>
</html>